<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css') }}">
    <title>Error file</title>
    
</head>
<body>
    <img src="/static/error.svg" alt="" class="error-img">
    <h3 class="error-msg">Please, select a file and try again</h3>
    <button type="button" class="button-3 error-btn" onclick="window.location.href='{{ url_for('upload_file') }}';">Back</button>
</body>
</html>